@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom-size{
  height: 450px;
}
.autoresize {
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide the scrollbar */
}
@media (max-width: 767px) {
 
  .custom-size {
    height: 250px;
  }
}
@media (max-width: 420px) {
 
  .custom-size {
    height: 100px;
  }
}


